@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: "Press Start 2P";
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('img/BG-Object.png');
  color: #fff;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5vh;
  padding: 0% 1rem;
  background-color: #222;
  color: #fff;
  z-index: 10;
  box-shadow: 0px 5px 5px hsla(0, 0%, 0%, 0.6);
}

#navbar h1{
  font-size: 1em;
}

#fullscreen-toggle:hover{
  transform: scale(1.25);
}

.main-content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 3rem);
}

#setup {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #222;
    min-width: 30%;
    height: auto;
    aspect-ratio: 2 / 1;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 15px hsla(0, 0%, 0%);
    padding: 20px;
}

#setup h2{
    font-size: 2rem;
    font-weight: 900;
    white-space: nowrap;
}

.button-container1 {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    
}

.button-container1 button{
    flex: 1;
    max-width: 25%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-family: "Press Start 2P";
    font-size: 1rem;
}

.button-container1 button:hover{
  background-color: #fff200;
    box-shadow: 2px 2px 2px hsla(0, 0%, 0%), -2px -2px 2px hsl(57, 100%, 50%);
    transform: scale(1.05);
}

#player-info {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #222;
  min-width: 30%;
  min-height: 200px;
  aspect-ratio: 2 / 1;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 0px 15px hsla(0, 0%, 0%);
  padding: 10px;
}

#player-names {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
  max-width: 200px;
}

#player-names input{
  border: none;
  background-color: #f6f6f6;
  box-shadow: 2px 2px 2px #000 inset, -2px -2px 2px #fff inset;
  padding: 10px;
}

#player-names button{
  /* flex: 1; */
  min-width: 60%;
  padding: 5px;
  margin: 10px 0px;
  border: none;
  border-radius: 10px;
  font-family: "Press Start 2P";
}

#player-names button:hover{
background-color: #fff200;
  box-shadow: 2px 2px 2px hsla(0, 0%, 0%), -2px -2px 2px hsl(57, 100%, 50%);
  transform: scale(1.05);
}

#game-info{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #222;
  min-width: 40%;
  max-width: 400px;
  aspect-ratio: 1 / 1;
  border-radius: 10px;
  padding: 20px;
  gap: 2rem;
  box-shadow: 0px 0px 15px hsla(0, 0%, 0%);
}

#game-board{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  text-align: center;
  align-items: center;
  gap: 5px;
  width: 75%;
  height: auto;
  aspect-ratio: 1 / 1;
  margin: auto;
}

.cell{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #fff200;
  color: #000;
  border-radius: 4px;
  font-size: 2rem;
  cursor: pointer;
}

#button-container2 {
  display: none;
  justify-content: space-evenly;
  width: 100%;
  
}

#button-container2 button{
  flex: 1;
  max-width: 25%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-family: "Press Start 2P";
  font-size: 0.75rem;
}

#button-container2 button:hover{
background-color: #fff200;
  box-shadow: 2px 2px 2px hsla(0, 0%, 0%), -2px -2px 2px hsl(57, 100%, 50%);
  transform: scale(1.05);
}