@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: "Press Start 2P";
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('img/tic-tac-toe.png');
  color: #fff;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5vh;
  padding: 0% 1rem;
  background-color: #222;
  color: #fff;
  z-index: 10;
  box-shadow: 0px 5px 5px hsla(0, 0%, 0%, 0.6);
}

#navbar h1{
  font-size: 1em;
}

#fullscreen-toggle:hover{
  transform: scale(1.25);
}

.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 3rem);
}

#setup {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #222;
    min-width: 30%;
    height: auto;
    aspect-ratio: 2 / 1;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 15px hsla(0, 0%, 0%);
    padding: 20px;
}

#setup h2{
    font-size: 2rem;
    font-weight: 900;
    white-space: nowrap;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    
}

.button-container button{
    flex: 1;
    max-width: 25%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-family: "Press Start 2P";
    font-size: 1rem;
}

.button-container button:hover{
  background-color: #fff200;
    box-shadow: 2px 2px 2px hsla(0, 0%, 0%), -2px -2px 2px hsl(57, 100%, 50%);
    transform: scale(1.05);
}

#player-info{
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #5eb1bf;
    min-width: 30%;
    height: auto;
    aspect-ratio: 2 / 1;
}

#game-info{
    display: none;
}
